*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, sans-serif;
background:#050816;
color:white;
overflow-x:hidden;
}

/* Welcome */

#welcome-screen{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
position:relative;
}

.content{
z-index:10;
}

.content h1{
font-size:3rem;
margin-bottom:15px;
}

.content p{
font-size:1.2rem;
margin-bottom:25px;
}

button{
padding:15px 30px;
border:none;
border-radius:30px;
cursor:pointer;
font-size:1rem;
}

/* Moon */

.moon{
width:120px;
height:120px;
border-radius:50%;
background:white;
position:absolute;
top:60px;
right:60px;
box-shadow:0 0 50px white;
animation:glow 4s infinite;
}

@keyframes glow{
50%{
box-shadow:0 0 80px white;
}
}

/* Birthday */

#birthday-screen{
display:none;
padding:50px 20px;
text-align:center;
}

.subtitle{
margin-top:10px;
margin-bottom:40px;
}

/* Memory Cards */

.memory-container{
max-width:800px;
margin:auto;
display:flex;
flex-direction:column;
gap:25px;
}

.memory-card{
background:rgba(255,255,255,0.08);
padding:20px;
border-radius:20px;
cursor:pointer;
transition:.4s;
}

.memory-card:hover{
transform:scale(1.02);
}

.memory-card img{
display:none;
width:100%;
margin-top:15px;
border-radius:15px;
}

.memory-card span{
display:none;
margin-top:15px;
font-size:1rem;
}
